/* Add your styles here */
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

